<!DOCTYPE html>
<br>
{% extends 'whats_for_dinner/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<h1>About</h1>
    <div>
        <p style = "font-size:22px;font-style:Bold; ">About our app </p>
        <Strong> “What’s For Dinner”</Strong>
        <b> is a food selection site for those who can’t decide what they want to eat.</b>
        <br>
        <br>

        <p style = "font-size:22px;font-style:Bold; ">Work By </p>
        <p style = "font-size:16px;font-style:Bold; ">Yash Chakrabarti(2353911C)</p>
        <p style = "font-size:16px;font-style:Bold; "> Tianyu Cui(2397867C)</p>
        <p style = "font-size:16px;font-style:Bold; "> Jayant Raj (2354269R)</p>
        <p style = "font-size:16px;font-style:Bold; "> Mingchen Sun (2397828S)</p>

        </b>
    </div>
{% endblock %}